@CHARSET "UTF-8";
#header {
    height: auto;
}

#menu {
    width: 130px;
}

#recordsTable tbody tr {
    cursor: pointer;
    /* whatever other hover styles you want */
}

th {
    color: #888;
}

#addressTd {
    max-width: 250px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.toolbar {
    border-radius: 3px;
    background: #ddd;
    margin: 1em;
    padding: 1em;
}

.toolbar td {
    color: #444;
}

.log-entries {
    direction: ltr;
}

@page {
    size: A4;
}

@media print {

    th, td {
        font-size: 10px;
    }
    #header, .toolbar {
        display: none;
    }
    img {
        max-width: 150px !important;
    }
    table, figure, .row {
        page-break-inside: avoid;
    }



}
