/**********
 * Colors *
 **********/

/* Base colors */


html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #f5f5f5 !important;
	font: 13px/15px yekan, Verdana, Arial, Helvetica, sans-serif;
	font-family: Roboto, yekan !important;
}

img {
	border: none;
}

table, tr, td, tr {
	border-collapse: collapse;
	vertical-align: top;
	text-align: right;
	font: 13px/15px Roboto, yekan, Verdana, Arial, Helvetica, sans-serif;
}

a {
	color: #0288D1;
}

ol {
	list-style: arabic-indic;
}

#header {
	text-align: right;
	background: #01579B; /* #03A9F4, E0E0E0, 424242 */ 
	color: #FFFFFF;
	height: 5px;
}

#header h2 {
	padding: 1em;
	margin: 0;
}

#main {
	padding: 2em 0;
}

#footer {
	padding: 2em 1em 1em;
	text-align: left;
	background: #E0E0E0;
	color: #757575;
	margin-bottom: -50px;
}

table.bordered tr th, table.bordered tr td {
	border: 1px solid #BDBDBD;
}

.error {
	color: #F44336;
}

.wizard .col-md-4 {
	height: 80px;
}

#login-div {
    float: none;
    margin: 20% auto;
    width: 200px;
}

.login-elements {
    width: 100%;
    margin: 1px 0 5px;
}
/**********
 * Fonts  *
 **********/
@font-face {
	font-family: 'yekan';
	src: url(fonts/Yekan.eot);
	src: url(fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(fonts/Yekan.woff) format("woff"), url(fonts/Yekan.ttf) format("truetype"), url(fonts/Yekan.svg#BYekan) format("svg");
	font-weight: normal;
	font-style: normal
}
